@model Csharlink.Models.User
@{
    ViewBag.Title = "Index";
}

@if(ViewBag.pm != null)
            {
                <div class="alert alert-info">@ViewBag.pm</div>
            }


<main>
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Actions
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><p>Hello @Model.Name. <br /> You have <span class="text-danger">@Model.Likes Likes!</span> </p></li>
                    <li class="list-group-item"><a href="/UserPanel/ContentList/@Model.Id">Content Management</a></li>
                    <li class="list-group-item"><a href="/UserPanel/Profile/@Model.Username">View Profile</a></li>
                    <li class="list-group-item"><a href="/UserPanel/Logout/@Model.Id">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="col-9">

        </div>
    </div>
</main>

