@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>This application is created by Crisiroid using ASP.NET MVC.</p>
    <ul>
        <li>Csiroid@gmail.com</li>
        <li>Crisiroid.xyz</li>
        <li>Github.com/Crisiroid</li>
    </ul>
</main>