@model IEnumerable<Csharlink.Models.Post>
@{
    ViewBag.Title = "Home Page";
}

<main>
    @if(ViewBag.pm != null)
            {
                <div class="alert alert-danger">@ViewBag.pm</div>
            }
    <div class="row">
        <div class="col-9">
            @foreach (var item in Model)
            {
                <div class="card">
                    <h5 class="card-header">@item.Title</h5>
                    <div class="card-body">
                        <h5 class="card-title">@item.Body</h5>
                        <p class="card-text">by @item.CreatorName</p>
                        <a href="/Home/View/@item.Id" class="btn btn-primary">Read more</a>
                    </div>
                </div><br />
            }

        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Most Viewed Posts
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
</main>